.ScrollBar {
    width: 60%;
    height: 70dvh;
    overflow-y: scroll;
    padding: 0.5rem;
    direction: ltr;
}

.ScrollBar::-webkit-scrollbar {
    width: 8px;
}

.ScrollBar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.ScrollBar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
