* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

body {
  direction: rtl;
}


@font-face {
  font-family: 'PeydaBlack';
  src: url('assets/fonts/Peyda-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PeydaBold';
  src: url('assets/fonts/Peyda-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PeydaExtraBold';
  src: url('assets/fonts/Peyda-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'PeydaExtralight';
  src: url('assets/fonts/peyda-extralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PeydaLight';
  src: url('assets/fonts/peyda-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Peyda';
  src: url('assets/fonts/Peyda-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PeydaRegular';
  src: url('assets/fonts/Peyda-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PeydaSemibold';
  src: url('assets/fonts/Peyda-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PeydaThin';
  src: url('assets/fonts/Peyda-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TrenchThin';
  src: url('assets/fonts/trench.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
