* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

body {
  direction: rtl;
  background-color: #e8f1f9;
}

@font-face {
  font-family: "YekanBakhRegular";
  src: url("assets/fonts/Bakh/YekanBakh-Regular.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakhBold";
  src: url("assets/fonts/Bakh/YekanBakh-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakhExtraBold";
  src: url("assets/fonts/Bakh/YekanBakh-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakhExtralight";
  src: url("assets/fonts/Bakh/YekanBakh-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakhLight";
  src: url("assets/fonts/Bakh/YekanBakh-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("assets/fonts/Bakh/YekanBakh-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakhRegular";
  src: url("assets/fonts/Bakh/YekanBakh-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakhSemibold";
  src: url("assets/fonts/Bakh/YekanBakh-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakhThin";
  src: url("assets/fonts/Bakh/YekanBakh-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "TrenchThin";
  src: url("assets/fonts/Bakh/YekanBakh-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px;
}
webkit-scrollbar-track {
  border-top: 20px solid transparent; /* Adjust these values to 'shorten' the track visually */
  border-bottom: 20px solid transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(62, 99, 137)),
    color-stop(0.72, rgb(37, 159, 218)),
    color-stop(0.86, rgb(37, 159, 218))
  );
}

::-webkit-scrollbar-button {
  width: 50px;
  height: 100px;
}
