::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar track */
    background-color: #f6f5f5; 

  }
 
  
  /* Define the scrollbar thumb styles */
  ::-webkit-scrollbar-thumb {
    background-color: #126AED; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Border radius of the scrollbar thumb */

  }
  
  /* Define the scrollbar thumb on hover styles */


  * {
    scrollbar-width: thin; 
  }
  
